.page
    position relative
    &--contact
        background url(img/contact-page-bg.jpg) no-repeat center center
        background-size cover
        background-attachment fixed
        @media only screen and (min-width: 768px) and (min-height: 720px)
            display flex
            flex-flow row nowrap
            justify-content center
            align-items center
