include ../nav/nav
mixin about()
    .about&attributes(attributes)
        +nav()
        .about__in
            .about__left
                .about__box.about__box--0.active
                    h2.about__title “Моя работа <br>является моим хобби”
                    img(src="assets/img/about-photo.jpg" alt="Тимур Салихов").about__photo
                    p.about__text “В 2009 г. побывал на свадьбе настолько креативной, что сделал акцент не на внешнем оформлении, а на эмоциях героев и гостей. Это был переломный момент в моей профессии. С тех пор каждый мой видеролик индивидуален, ведь в них раскрывается характер молодожен.”
                    p.about__text <span>Тимур Салихов</span> <br>Свадебный видеооператор

                .about__box.about__box--1
                    p.about__text Начиная с 2009 г. полностью посвятил себя свадебной видеосъемке. 

                    p.about__text <span>2011 г.</span> - Первая за граничная съемка свадьбы, которая проходила в одном из старейших замков Франции. Свадебную церемонию провел мэр соседнего города.

                    p.about__text <span>2013 г.</span> - Греция, ост. Санторини. Снимал свадьбу, на которой присутствовали руководители “Бизнес Молодости”

                    p.about__text <span>2015 г.</span> - Индонезия ,на островах Ява и Бали. Свадьбы в Индонезии отличаются от Европейских тем, что почитают местных богов, невеста ассоциируется богиней и официальная часть длиться 4 часа.

                    p.about__text <span>2015 г.</span> - Индия, штат Гоа. Свадьба была выполнена в ведических традициях с монахами их храма.

                .about__box.about__box--2
                    h3.about__title Мое вдохновение - это путешествия и счастливые люди
                    p.about__text Мне нравится наблюдать счастливых людей. <br>Кроме того, большой опыт самостоятельных путешествий от Испании до Индонезии, дал возможность смотреть на мир, на отношения, и на свадьбы другим взглядом.

                .about__box.about__box--3
                    p.about__text.about__text--team-1 Стиль моей работы и моих операторов заключается <span>в съемке ваших живых, искренних эмоций.</span>
                    p.about__text Наша задача в том, чтобы через 20-40 лет, вы ощутили радость от просмотра видео и вновь воссоздали в памяти момент становления семьи, а так же смогли передать своим детям ценность ваших отношений.
                    .about__team
                        p.about__team-header В команде есть:
                        p.about__text видеооператор, монтажер, моушн-дизайнер, сценарист, копирайтер и режиссер.

                .about__box.about__box--4
                    p.about__text Сегодня я и моя команда снимаем свадьбы не только в Уфе и Москве. <br>Нами уже опробованы съемки свадеб в Португалии, Греции, Франции и Индонезии.
                    p.about__text Мы с радостью можем взять работу в любой точке России и Мира, потому что,  нам нравится путешествовать и создавать крутые свадебные видео.

                .about__box.about__box--5
                    ul.about__numbers
                        li.about__number Работаю в сфере свадебной видеосъемки
                        li.about__number И каждую неделю, мы становимся опытнее
                        li.about__number У ведущих специалистов в свадебной сфере по&nbsp;РФ&nbsp;и&nbsp;СНГ
                        li.about__number За границей: Франция, Греция, Индия, острова Ява и Бали

                .about__box.about__box--6
                    h3.about__title Совет молодоженам
                    p.about__text Выбирая видеографа или фотографа на свою свадьбу, не будьте беспечными и подготовьтесь основательно. <br>Поиски начните за 6 месяцев до свадьбы. Можно будет найти хороших специалистов и по доступной цене. <br>Обязательно выберите нескольких, на всякий случай, но за 2-3 месяца до свадьбы  сделайте окончательный выбор. <br>Вместе с ними продумайте и составьте план действий, лучше в письменной форме. <br>Не экономьте, только с их помощью вы сможете запечатлить этот прекрасный и волнительный день, которым будете наслаждаться вы и ваши дети, внуки.
                    h4.about__title Наверняка у вас есть вопросы? <br>Напишите свой вопрос и я в ближайшее время отвечу на него.
                    a(href="contact.html").about__button Оставить заявку

            .about__mid
            .about__right
                ul.about-menu
                    li.about-menu__item.about-menu__item--1
                        a(href="#").about-menu__link
                            h3.about-menu__caption История
                            p.about-menu__tip нажать
                    li.about-menu__item.about-menu__item--2
                        a(href="#").about-menu__link
                            h3.about-menu__caption Вдохновение
                            p.about-menu__tip нажать
                    li.about-menu__item.about-menu__item--3
                        a(href="#").about-menu__link
                            h3.about-menu__caption Команда
                            p.about-menu__tip нажать
                    li.about-menu__item.about-menu__item--4
                        a(href="#").about-menu__link
                            h3.about-menu__caption Возможности
                            p.about-menu__tip нажать
                    li.about-menu__item.about-menu__item--5
                        a(href="#").about-menu__link
                            h3.about-menu__caption Цифры
                            p.about-menu__tip нажать
                    li.about-menu__item.about-menu__item--6
                        a(href="#").about-menu__link
                            h3.about-menu__caption Совет молодоженам
                            p.about-menu__tip нажать
