mixin popup-portfolio-1()
    .popup-portfolio.popup&attributes(attributes)#popup-portfolio-1
        .popup-portfolio__video
            <iframe src="https://player.vimeo.com/video/169748512" width="640" height="360" allowfullscreen></iframe>
        .popup-portfolio__data
            .popup-portfolio__info
                .popup-portfolio__detailes Детали проекта
                .popup-portfolio__row
                    .popup-portfolio__caption Клиент:
                    .popup-portfolio__value Максим и Марьяна
                .popup-portfolio__row
                    .popup-portfolio__caption Место:
                    .popup-portfolio__value Москва
                .popup-portfolio__row
                    .popup-portfolio__caption Дата:
                    .popup-portfolio__value 3 октября 2015 г.
            .popup-portfolio__descr 
                p.popup-portfolio__text Из утренних съемок сделали маленький видеоклип и показали во время банкета, что стало сюрпризом для молодоженов и их гостей.
                p.popup-portfolio__text С женихом познакомились во время яхтинга по Средиземному морю.
        p.popup-portfolio__appeal У вас есть идея своего видеоклипа? <br>Оставьте заявку и я помогу реализовать идею в ральность
        .popup-portfolio__btn-wrapper
            a(href="contact.html").popup-portfolio__button Оставить заявку
        button.popup-portfolio__close-btn.js-close-button закрыть <span>х</span>

mixin popup-portfolio-2()
    .popup-portfolio.popup&attributes(attributes)#popup-portfolio-2
        .popup-portfolio__video
            <iframe width="560" height="315" src="https://www.youtube.com/embed/o_RXpSxoOEc?rel=0&amp;showinfo=0" allowfullscreen></iframe>
        .popup-portfolio__data
            .popup-portfolio__info
                .popup-portfolio__detailes Детали проекта
                .popup-portfolio__row
                    .popup-portfolio__caption Клиент:
                    .popup-portfolio__value Антон и Регина
                .popup-portfolio__row
                    .popup-portfolio__caption Место:
                    .popup-portfolio__value
                .popup-portfolio__row
                    .popup-portfolio__caption Дата:
                    .popup-portfolio__value 13 июня 2014
            .popup-portfolio__descr 
                p.popup-portfolio__text Чаще всего, откровения во время свадебного интервью, является сюрпризом для обоих молодожен.
                p.popup-portfolio__text Так и произошло во время торжества Антона и Регины
        p.popup-portfolio__appeal У вас есть идея своего видеоклипа? <br>Оставьте заявку и я помогу реализовать идею в ральность
        .popup-portfolio__btn-wrapper
            a(href="contact.html").popup-portfolio__button Оставить заявку
        button.popup-portfolio__close-btn.js-close-button закрыть <span>х</span>

mixin popup-portfolio-3()
    .popup-portfolio.popup&attributes(attributes)#popup-portfolio-3
        .popup-portfolio__video
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1mumPwwdnZQ?rel=0&amp;showinfo=0" allowfullscreen></iframe>
        .popup-portfolio__data
            .popup-portfolio__info
                .popup-portfolio__detailes Детали проекта
                .popup-portfolio__row
                    .popup-portfolio__caption Клиент:
                    .popup-portfolio__value Рамиль и Мария
                .popup-portfolio__row
                    .popup-portfolio__caption Место:
                    .popup-portfolio__value
                .popup-portfolio__row
                    .popup-portfolio__caption Дата:
                    .popup-portfolio__value 21 июня 2014 г.
            .popup-portfolio__descr 
                p.popup-portfolio__text Жених решил преобразовать традиции и подговорил подруг невесты, сделать необычный выкуп. Поступок сильно порадовал избранницу
        p.popup-portfolio__appeal У вас есть идея своего видеоклипа? <br>Оставьте заявку и я помогу реализовать идею в ральность
        .popup-portfolio__btn-wrapper
            a(href="contact.html").popup-portfolio__button Оставить заявку
        button.popup-portfolio__close-btn.js-close-button закрыть <span>х</span>

mixin popup-portfolio-4()
    .popup-portfolio.popup&attributes(attributes)#popup-portfolio-4
        .popup-portfolio__video
            <iframe src="https://player.vimeo.com/video/75089806" width="640" height="360" allowfullscreen></iframe>
        .popup-portfolio__data
            .popup-portfolio__info
                .popup-portfolio__detailes Детали проекта
                .popup-portfolio__row
                    .popup-portfolio__caption Клиент:
                    .popup-portfolio__value Дамир и Даша
                .popup-portfolio__row
                    .popup-portfolio__caption Место:
                    .popup-portfolio__value остров Санторини, Греция
                .popup-portfolio__row
                    .popup-portfolio__caption Дата:
                    .popup-portfolio__value 19 сентября 2009 г.
            .popup-portfolio__descr 
                p.popup-portfolio__text Свадьба Дамира и Даши проходила на ост. Санторини. В начале они не хотели нанимать видеографа, но пообщавшись со мной, изменили свое решение и спустя несколько лет сказали: “Большое&nbsp;спасибо!”
        p.popup-portfolio__appeal У вас есть идея своего видеоклипа? <br>Оставьте заявку и я помогу реализовать идею в ральность
        .popup-portfolio__btn-wrapper
            a(href="contact.html").popup-portfolio__button Оставить заявку
        button.popup-portfolio__close-btn.js-close-button закрыть <span>х</span>

mixin popup-portfolio-5()
    .popup-portfolio.popup&attributes(attributes)#popup-portfolio-5
        .popup-portfolio__video
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wqdmwt07Biw?rel=0&amp;showinfo=0" allowfullscreen></iframe>
        .popup-portfolio__data
            .popup-portfolio__info
                .popup-portfolio__detailes Детали проекта
                .popup-portfolio__row
                    .popup-portfolio__caption Клиент:
                    .popup-portfolio__value Марат и Виктория
                .popup-portfolio__row
                    .popup-portfolio__caption Место:
                    .popup-portfolio__value
                .popup-portfolio__row
                    .popup-portfolio__caption Дата:
                    .popup-portfolio__value 16 августа 2014 г.
            .popup-portfolio__descr 
                p.popup-portfolio__text Марат и Виктория, не стеснялись показать свои чувства на камеру
        p.popup-portfolio__appeal У вас есть идея своего видеоклипа? <br>Оставьте заявку и я помогу реализовать идею в ральность
        .popup-portfolio__btn-wrapper
            a(href="contact.html").popup-portfolio__button Оставить заявку
        button.popup-portfolio__close-btn.js-close-button закрыть <span>х</span>

mixin popup-portfolio-6()
    .popup-portfolio.popup&attributes(attributes)#popup-portfolio-6
        .popup-portfolio__video
            <iframe src="https://player.vimeo.com/video/159190321" width="640" height="360" allowfullscreen></iframe>
        .popup-portfolio__data
            .popup-portfolio__info
                .popup-portfolio__detailes Детали проекта
                .popup-portfolio__row
                    .popup-portfolio__caption Клиент:
                    .popup-portfolio__value Алексей и Рената
                .popup-portfolio__row
                    .popup-portfolio__caption Место:
                    .popup-portfolio__value
                .popup-portfolio__row
                    .popup-portfolio__caption Дата:
                    .popup-portfolio__value 12 марта 2016 г.
            .popup-portfolio__descr 
                p.popup-portfolio__text Марат и Виктория, не стеснялись показать свои чувства на камеру
        p.popup-portfolio__appeal У вас есть идея своего видеоклипа? <br>Оставьте заявку и я помогу реализовать идею в ральность
        .popup-portfolio__btn-wrapper
            a(href="contact.html").popup-portfolio__button Оставить заявку
        button.popup-portfolio__close-btn.js-close-button закрыть <span>х</span>

mixin popup-thankyou()
    .popup-thankyou.popup#popup-thankyou
        h3.popup-thankyou__title Спасибо!
        p.popup-thankyou__text Спасибо, что оставили заявку. Мы свяжемся с Вами в самое ближайшее время.
        button.button.popup-thankyou__button.js-close-button Закрыть
