mixin browsehappy()
    | <!--[if IE]>
    p.browsehappy Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com" target="_blank"> обновите браузер</a> для лучшего отображения сайта.
    | <![endif]-->
