mixin feedbacks()
    .feedbacks&attributes(attributes)
        .feedbacks__in
            .feedbacks__left
                .feedbacks__box
                    h2.feedbacks__title Отзывы
                    p.feedbacks__text Мы рады, что нашу работу ценят не только после свадьбы, но и по прошествии долгого времени!
            .feedbacks__mid
            .feedbacks__right
                ul.feedbacks-menu
                    li.feedbacks-menu__item
                        a(href="https://vimeo.com/164364266" title="Макс и Марьяна").feedbacks-menu__link.js-popup-video
                            img(src="assets/img/feedbacks-1.jpg" alt="Макс и Марьяна" width="250" height="200").feedbacks-menu__img
                    li.feedbacks-menu__item
                        a(href="https://www.youtube.com/watch?v=qO2JfdOqhBw" title="Кирилл").feedbacks-menu__link.js-popup-video
                            img(src="assets/img/feedbacks-2.jpg" alt="Кирилл" width="250" height="200").feedbacks-menu__img
                    li.feedbacks-menu__item
                        a(href="https://www.youtube.com/watch?v=53HbFJRew4E" title="Искандер").feedbacks-menu__link.js-popup-video
                            img(src="assets/img/feedbacks-3.jpg" alt="Искандер" width="250" height="200").feedbacks-menu__img
                    li.feedbacks-menu__item
                        a(href="https://vimeo.com/82034499" title="Азат и Алина").feedbacks-menu__link.js-popup-video
                            img(src="assets/img/feedbacks-4.jpg" alt="Азат и Алина" width="250" height="200").feedbacks-menu__img
                    li.feedbacks-menu__item
                        a(href="https://www.youtube.com/watch?v=M_3F_m5IrNM" title="Талгат и Эльвина").feedbacks-menu__link.js-popup-video
                            img(src="assets/img/feedbacks-5.jpg" alt="Талгат и Эльвина" width="250" height="200").feedbacks-menu__img
                    li.feedbacks-menu__item
                        a(href="https://www.youtube.com/watch?v=XdV41fLYuBk" title="Сергей Азимов").feedbacks-menu__link.js-popup-video
                            img(src="assets/img/feedbacks-6.jpg" alt="Сергей Азимов" width="250" height="200").feedbacks-menu__img
