.feedbacks
    display block
    width 100%
    position relative

    &__in
        section-row()

    &__left
        section-left()
        display flex
        flex-flow row nowrap
        justify-content center
        align-items center

    &__mid
        section-mid()

    &__right
        section-right()

    &__box
        flex 0 1 auto
        display block
        padding 40px 20px
        margin 0 auto
        text-align center
        +above(800px)
            text-align left
            max-width 390px

    &__title
        color #3b3b3b
        font(Bold)
        font-size 18px
        text-transform uppercase
        margin 0 0 1em

    &__text
        color #3b3b3b
        font()
        font-size 16px
        line-height 1.2
        margin 0

.feedbacks-menu
    list-style none
    padding 0
    margin 0
    display flex
    flex-flow row wrap

    &__item
        display block
        flex 1 1 50%
        background-color #fff
        position relative
        overflow hidden


        +above(480px)
            flex 1 1 33.3333%
            // &:nth-child(1)
            //     border-top 1px solid #a0a0a0
            //     border-right 1px solid #a0a0a0
            //     border-bottom 1px solid #a0a0a0
            //     border-left 1px solid #fff
            // &:nth-child(2)
            //     border-top 1px solid #a0a0a0
            //     border-right 1px solid #a0a0a0
            //     border-bottom 1px solid #a0a0a0
            //     border-left none
            // &:nth-child(3)
            //     border-top 1px solid #a0a0a0
            //     border-right 1px solid #fff
            //     border-bottom 1px solid #a0a0a0
            //     border-left none
            // &:nth-child(4)
            //     border-top none
            //     border-right 1px solid #a0a0a0
            //     border-bottom 1px solid #a0a0a0
            //     border-left 1px solid #fff
            // &:nth-child(5)
            //     border-top none
            //     border-right 1px solid #a0a0a0
            //     border-bottom 1px solid #a0a0a0
            //     border-left none
            // &:nth-child(6)
            //     border-top none
            //     border-right 1px solid #fff
            //     border-bottom 1px solid #a0a0a0
            //     border-left none
        +above(800px)
            flex 1 1 50%
            // &:nth-child(1)
            //     border-top 1px solid #a0a0a0
            //     border-right 1px solid #a0a0a0
            //     border-bottom 1px solid #a0a0a0
            //     border-left 1px solid #a0a0a0
            // &:nth-child(2)
            //     border-top 1px solid #a0a0a0
            //     border-right 1px solid #a0a0a0
            //     border-bottom 1px solid #a0a0a0
            //     border-left none
            // &:nth-child(3)
            //     border-top none
            //     border-right 1px solid #a0a0a0
            //     border-bottom 1px solid #a0a0a0
            //     border-left 1px solid #a0a0a0
            // &:nth-child(4)
            //     border-top none
            //     border-right 1px solid #a0a0a0
            //     border-bottom 1px solid #a0a0a0
            //     border-left none
            // &:nth-child(5)
            //     border-top none
            //     border-right 1px solid #a0a0a0
            //     border-bottom 1px solid #a0a0a0
            //     border-left 1px solid #a0a0a0
            // &:nth-child(6)
            //     border-top none
            //     border-right 1px solid #a0a0a0
            //     border-bottom 1px solid #a0a0a0
            //     border-left none
        span
            display none

    &__img
        display block
        width 100%
        height auto
        opacity .9
        transition all 0.3s ease
        position relative

    &__link
        display block
        position relative
        // top -1px
        // right -1px
        // bottom -1px
        // left -1px
        text-decoration none
        color #3b3b3b
        transition all .3s ease
        background-position center center
        background-size cover
        &::before
            opacity 1
            transition opacity .3s ease
            content ""
            sprite($icon_play)
            position absolute
            top 50%
            left 50%
            margin-top -35px
            margin-left -35px
            transform-origin center center
            transform scale(.6)
            z-index 10
            +above(480px)
                transform none
        &:hover img
            transform scale(1.02)
            opacity 1




