mixin portfolio()
    .portfolio&attributes(attributes)
        .portfolio__in
            .portfolio__left
                ul.portfolio__menu
                    li.portfolio__item(data-mfp-src="#popup-portfolio-1").js-popup
                        img(src="assets/img/portfolio-1.jpg" alt="Максим и Марьяна").portfolio__img
                        .portfolio__cover
                            .portfolio__headers
                                p.portfolio__type Свадебное видео
                                h3.portfolio__caption Максима и Марьяны
                        .portfolio__overlay
                            .portfolio__descr
                                p.portfolio__text Из утренних съемок сделали маленький видеоклип, которая стала большим сюрпризом вчером...
                            button(data-mfp-src="#popup-portfolio-1").portfolio__button.js-popup Просмотреть
                    li.portfolio__item(data-mfp-src="#popup-portfolio-2").js-popup
                        img(src="assets/img/portfolio-2.jpg" alt="Антон и Регина").portfolio__img
                        .portfolio__cover
                            .portfolio__headers
                                p.portfolio__type Свадебное видео
                                h3.portfolio__caption Антона и Регины
                        .portfolio__overlay
                            .portfolio__descr
                                p.portfolio__text Чаще всего, откровения во время свадебного интервью, является сюрпризом для обоих молодожен.
                                p.portfolio__text Так и произошло во время торжества Антона и Регины
                            button(data-mfp-src="#popup-portfolio-2").portfolio__button.js-popup Просмотреть
                    li.portfolio__item(data-mfp-src="#popup-portfolio-3").js-popup
                        img(src="assets/img/portfolio-3.jpg" alt="Рамиль и Мария").portfolio__img
                        .portfolio__cover
                            .portfolio__headers
                                p.portfolio__type Свадебное видео
                                h3.portfolio__caption Рамиля и Марии
                        .portfolio__overlay
                            .portfolio__descr
                                p.portfolio__text Жених решил преобразовать традиции и подговорил подруг невесты, сделать необычный выкуп. Поступок сильно порадовал избранницу
                            button(data-mfp-src="#popup-portfolio-3").portfolio__button.js-popup Просмотреть
            .portfolio__mid
            .portfolio__right
                ul.portfolio__menu.portfolio__menu--right
                    li.portfolio__item(data-mfp-src="#popup-portfolio-4").js-popup
                        img(src="assets/img/portfolio-4.jpg" alt="Дамир и Даша").portfolio__img
                        .portfolio__cover
                            .portfolio__headers
                                p.portfolio__type Свадебное видео
                                h3.portfolio__caption Дамира и Даши
                        .portfolio__overlay
                            .portfolio__descr
                                p.portfolio__text Свадьба Дамира и Даши проходила на ост. Санторини. В начале они не хотели нанимать видеографа, но пообщавшись со мной, изменили свое решение и спустя несколько лет сказали: “Большое&nbsp;спасибо!”
                            button(data-mfp-src="#popup-portfolio-4").portfolio__button.js-popup Просмотреть
                    li.portfolio__item(data-mfp-src="#popup-portfolio-5").js-popup
                        img(src="assets/img/portfolio-5.jpg" alt="Марат и Виктория").portfolio__img
                        .portfolio__cover
                            .portfolio__headers
                                p.portfolio__type Свадебное видео
                                h3.portfolio__caption Марата и Виктории
                        .portfolio__overlay
                            .portfolio__descr
                                p.portfolio__text Марат и Виктория, не стеснялись показать свои чувства на камеру
                            button(data-mfp-src="#popup-portfolio-5").portfolio__button.js-popup Просмотреть
                    li.portfolio__item(data-mfp-src="#popup-portfolio-6").js-popup
                        img(src="assets/img/portfolio-6.jpg" alt="Алексей и Рената").portfolio__img
                        .portfolio__cover
                            .portfolio__headers
                                p.portfolio__type Свадебное видео
                                h3.portfolio__caption Алексея и Ренаты
                        .portfolio__overlay
                            .portfolio__descr
                                p.portfolio__text Марат и Виктория, не стеснялись показать свои чувства на камеру
                            button(data-mfp-src="#popup-portfolio-6").portfolio__button.js-popup Просмотреть

