@font-face
    font-family "Geometria-Light"
    src url("fonts/Geometria-Light/Geometria-Light.eot")
    src url("fonts/Geometria-Light/Geometria-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/Geometria-Light/Geometria-Light.woff2") format("woff2"),
        url("fonts/Geometria-Light/Geometria-Light.woff") format("woff"),
        url("fonts/Geometria-Light/Geometria-Light.otf") format("opentype"),
        url("fonts/Geometria-Light/Geometria-Light.ttf") format("truetype"),
        url("fonts/Geometria-Light/Geometria-Light.svg#Geometria-Light") format("svg");
    font-style 300
    font-weight normal

@font-face
    font-family "Geometria-Regular"
    src url("fonts/Geometria/Geometria.eot")
    src url("fonts/Geometria/Geometria.eot?#iefix") format("embedded-opentype"),
        url("fonts/Geometria/Geometria.woff2") format("woff2"),
        url("fonts/Geometria/Geometria.woff") format("woff"),
        url("fonts/Geometria/Geometria.otf") format("opentype"),
        url("fonts/Geometria/Geometria.ttf") format("truetype"),
        url("fonts/Geometria/Geometria.svg#Geometria") format("svg");
    font-style 400
    font-weight normal

@font-face
    font-family "Geometria-Medium"
    src url("fonts/Geometria-Medium/Geometria-Medium.eot")
    src url("fonts/Geometria-Medium/Geometria-Medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/Geometria-Medium/Geometria-Medium.woff2") format("woff2"),
        url("fonts/Geometria-Medium/Geometria-Medium.woff") format("woff"),
        url("fonts/Geometria-Medium/Geometria-Medium.otf") format("opentype"),
        url("fonts/Geometria-Medium/Geometria-Medium.ttf") format("truetype"),
        url("fonts/Geometria-Medium/Geometria-Medium.svg#Geometria-Medium") format("svg");
    font-style 500
    font-weight normal

@font-face
    font-family "Geometria-Bold"
    src url("fonts/Geometria-Bold/Geometria-Bold.eot")
    src url("fonts/Geometria-Bold/Geometria-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Geometria-Bold/Geometria-Bold.woff2") format("woff2"),
        url("fonts/Geometria-Bold/Geometria-Bold.woff") format("woff"),
        url("fonts/Geometria-Bold/Geometria-Bold.otf") format("opentype"),
        url("fonts/Geometria-Bold/Geometria-Bold.ttf") format("truetype"),
        url("fonts/Geometria-Bold/Geometria-Bold.svg#Geometria-Bold") format("svg");
    font-style 700
    font-weight normal

@font-face
    font-family "Geometria-ExtraBold"
    src url("fonts/Geometria-ExtraBold/Geometria-ExtraBold.eot")
    src url("fonts/Geometria-ExtraBold/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Geometria-ExtraBold/Geometria-ExtraBold.woff2") format("woff2"),
        url("fonts/Geometria-ExtraBold/Geometria-ExtraBold.woff") format("woff"),
        url("fonts/Geometria-ExtraBold/Geometria-ExtraBold.otf") format("opentype"),
        url("fonts/Geometria-ExtraBold/Geometria-ExtraBold.ttf") format("truetype"),
        url("fonts/Geometria-ExtraBold/Geometria-ExtraBold.svg#Geometria-ExtraBold") format("svg");
    font-style 700
    font-weight normal

