mixin services()
    .services&attributes(attributes)
        .services__in
            .services__left
                .services__box.services__box--0.active
                    h2.services__title Наши услуги
                    p.services__text Свадебное видео, Love-Story, семейное видео, юбилеи, корпоративы, съемки выпускных, дни рождения, детское видео, приглашения, подарочно-поздравитльное видео, видеопортреты, видео для моделей, постановочное видео, музыкальные клипы,свадебные путешествия, экстремальное видео.

                .services__box.services__box--1
                    h3.services__title Свадебное видео
                    p.services__text Цена на свадебное видео, напрямую зависит от ваших желаний, количества часов съемки, сезона, места проведения, количества ассистентов и времени на монтаж. <br>Поэтому, цена подбирается индивидуально.
                    h3.services__title Оставьте заявку и мы подберем оптимальный вам вариант
                    a(href="#contact-form").services__button.js-popup Оставить заявку

                .services__box.services__box--2
                    h3.services__title Love-story
                    p.services__text Цена на Love-story, напрямую зависит от ваших желаний, количества часов съемки, сезона, места проведения и количества ассистентов. <br>Поэтому, цена подбирается индивидуально.
                    h3.services__title Оставьте заявку и мы подберем оптимальный вам вариант
                    a(href="#contact-form").services__button.js-popup Оставить заявку

                .services__box.services__box--3
                    h3.services__title Семейное видео
                    p.services__text Цена на семейное видео, напрямую зависит от ваших желаний, количества часов съемки и места проведения. <br>Поэтому, цена подбирается индивидуально.
                    h3.services__title Оставьте заявку и мы подберем оптимальный вам вариант
                    a(href="#contact-form").services__button.js-popup Оставить заявку

            .services__mid
            .services__right
                ul.serv-menu
                    li.serv-menu__item.serv-menu__item--1
                        .serv-menu__link
                            h3.serv-menu__caption Свадебное <span>видео</span>
                            .serv-menu__overlay
                                button.serv-menu__button Подробнее
                    li.serv-menu__item.serv-menu__item--2
                        .serv-menu__link
                            h3.serv-menu__caption Love-story
                            .serv-menu__overlay
                                button.serv-menu__button Подробнее
                    li.serv-menu__item.serv-menu__item--3
                        .serv-menu__link
                            h3.serv-menu__caption Семейное <span>видео</span>
                            .serv-menu__overlay
                                button.serv-menu__button Подробнее

