include ../blocks/popups/popups
include ../blocks/contact-form/contact-form


doctype html

// Верстка и программирование сайта: http://web-master-pro.ru 

html(lang="ru-RU")

    head
        meta(charset="utf-8")
        title Заявка на обратную связь | Тимур Салихов - свадебный видеооператор
        meta(name="description" content="")
        meta(name="keywords" content="")

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="generator" content="web-master-pro.ru")

        link(rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-194x194.png" sizes="194x194")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="assets/img/favicons/android-chrome-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="assets/img/favicons/manifest.json")
        //- link(rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5")
        link(rel="shortcut icon" href="assets/img/favicons/favicon.ico")
        meta(name="msapplication-TileColor" content="#603cba")
        meta(name="msapplication-TileImage" content="assets/img/favicons/mstile-144x144.png")
        meta(name="msapplication-config" content="assets/img/favicons/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")

        link(rel="stylesheet" href="assets/css/style.min.css?rev=@@hash")

    body.page.page--contact
        +contact-form()

        .hidden
            +popup-thankyou()

        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
        script window.jQuery || document.write('<script src="assets/js/jquery-2.2.4.min.js"><\/script>')
        script(src="assets/js/plugins.min.js?rev=@@hash")
        script(src="assets/js/app.min.js?rev=@@hash")

        //- include inc/metrika.html
