include ../blocks/header/header
include ../blocks/about/about
include ../blocks/portfolio/portfolio
include ../blocks/feedbacks/feedbacks
include ../blocks/services/services
include ../blocks/contacts/contacts
include ../blocks/popups/popups


doctype html

// Верстка и программирование сайта: http://web-master-pro.ru 

html(lang="ru-RU")

    head
        meta(charset="utf-8")
        title Тимур Салихов - свадебный видеооператор
        meta(name="description" content="")
        meta(name="keywords" content="")

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="generator" content="web-master-pro.ru")

        link(rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-194x194.png" sizes="194x194")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="assets/img/favicons/android-chrome-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="assets/img/favicons/manifest.json")
        //- link(rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5")
        link(rel="shortcut icon" href="assets/img/favicons/favicon.ico")
        meta(name="msapplication-TileColor" content="#603cba")
        meta(name="msapplication-TileImage" content="assets/img/favicons/mstile-144x144.png")
        meta(name="msapplication-config" content="assets/img/favicons/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")

        script.
            !function(){function e(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function t(e){return window.localStorage&&localStorage.font_css_cache&&localStorage.font_css_cache_file===e}function n(){if(window.localStorage&&window.XMLHttpRequest)if(t(o))a(localStorage.font_css_cache);else{var n=new XMLHttpRequest;n.open("GET",o,!0),e(n,"load",function(){4===n.readyState&&(a(n.responseText),localStorage.font_css_cache=n.responseText,localStorage.font_css_cache_file=o)}),n.send()}else{var c=document.createElement("link");c.href=o,c.rel="stylesheet",c.type="text/css",document.getElementsByTagName("head")[0].appendChild(c),document.cookie="font_css_cache"}}function a(e){var t=document.createElement("style");t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t)}var o="assets/css/fonts.min.css";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?n():e(window,"load",n)}();

        style
            include ../tmp/first-screen.min.css

        noscript
            link(rel="stylesheet" href="assets/css/style.min.css?rev=@@hash")

    body.page
        script.
            var regions = [
                {id: "ufa", caption: "в УФЕ"},
                {id: "moscow", caption: "в Москве"},
                {id: "kazan", caption: "в Казани"},
                {id: "ural", caption: "в Укатеринбурге"},
                {id: "piter", caption: "в Санкт-Петербурге"}
            ];
            var backgroundVideos = [
                "video-1",
                "video-2",
                "video-3"
            ];

        +header(id="header")

        script(src="assets/js/header.min.js?rev=@@hash")
        
        +about(id="about")
        +portfolio(id="portfolio")
        +feedbacks(id="feedbacks")
        +services(id="services")
        +contacts(id="contacts")

        .hidden
            +popup-portfolio-1()
            +popup-portfolio-2()
            +popup-portfolio-3()
            +popup-portfolio-4()
            +popup-portfolio-5()
            +popup-portfolio-6()
            +popup-thankyou()

        script.
            var ms=document.createElement("link");ms.rel="stylesheet";ms.href="assets/css/style.min.css?rev=@@hash";document.getElementsByTagName("head")[0].appendChild(ms);

        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
        script window.jQuery || document.write('<script src="assets/js/jquery-2.2.4.min.js"><\/script>')
        script(src="assets/js/plugins.min.js?rev=@@hash")
        script(src="assets/js/app.min.js?rev=@@hash")

        //- include inc/metrika.html
